{% extends 'blog/base.html' %}
{% load static %}

{% block title %} Alberto Nessi - reading {% endblock %}

{% block body_class %}page-reading{% endblock %}

{% block main_content %}
	<main class="page-content">
		<h1>Books I'm reading or that I have read.</h1>
		<ul class="reading-list">
			{% for book in books %}
				<li class="reading-item">
					<p>
						<a href="{{ book.link }}" target="_blank">
							<strong>{{ book.title }}</strong>
						</a>
					</p>
					<p>by {{ book.author }}</p>
				</li>
			{% endfor %}
		</ul>
	</main>
{% endblock %}
