{% extends 'blog/base.html' %}
{% load static %}

{% block title %} Alberto Nessi - reading {% endblock %}

{% block main_content %}
	<main class="page-content">
		<h1>Books I'm reading or that I have read.</h1>
		<ul>
			<li>
				<p><strong>“The Dream Machine”</strong></p>
				<p>by M. Mitchell Waldrop</p>
				<p><a href="https://press.stripe.com/the-dream-machine" target="_blank">Stripe Press</a></p>
			</li>
			<li>
				<p><strong>“From Counterculture to Cyberculture: Stewart Brand, the Whole Earth Network, and the Rise of Digital Utopianism” </strong></p>
				<p>by Fred Turner</p>
				<p><a href="https://a.co/d/e5ZSN1C" target="_blank">Amazon</a></p>
			</li>
		</ul>
	</main>
{% endblock %}